@{
    ViewData["Title"] = "About";
}


<main class="py-5">
    <div class="About">
        <div class="container justify-content-center"> 
            <img src="~/images/about-page/about.jpg" alt="Contact" class="img-fluid">
            <h3 class="text-img-home display-1 ">About Dolphin's Resort</h3>
        </div>
    </div>

    <!--About-presentation section start-->
    <section class="About-presentation pe-3 py-2">
        <div class="container pe-sm-5">
            <div class="row">
                <div class="col-lg-6 ps-5 align-self-center ps-5 ">
                    <h1 class="display-5 py-4">About Us</h1>
                    <h3 class="display-6">
                        A Luxuries Hotel
                        with Nature
                    </h3>
                    <br>
                    <p class="lead text-strat">
                        Welcome to Dolphin's Resort, where serenity meets luxury in a
                        breathtaking coastal haven. Nestled along the pristine shores, Dolphin's Resort has a rich
                        history of providing guests with unforgettable experiences and unparalleled hospitality.
                    </p>
                    <br>

                </div>
                <div class="col-lg-3 pt-5 pb-2 ps-5 ">
                    <img src="~/images/about-page/about-1.jpg" alt="About-1" class="img-fluid">
                </div>
                <div class="col-lg-3 pt-1  ps-5 align-self-center ps-5 ">
                    <img src="~/images/about-page/about-2.jpg" alt="Aboout-2" class="img-fluid">
                </div>

            </div>
        </div>
    </section>
    <!--About-presentation section end-->
    <!--History section start-->
    <section class="About-history">

        <div class="container py-5">
            <h3 class="display-6 text-center">Founding Years</h3>
            <p class="lead text-center">
                Dolphin's Resort was established in 1985 by visionary entrepreneur, Richard
                Waters. Inspired by
                the playful and intelligent nature of dolphins, Waters envisioned a retreat that harmonized with
                the natural beauty of the coastal landscape. His dream was to create a sanctuary where guests
                could escape the hustle and bustle of daily life and immerse themselves in tranquility.
            </p>
        </div>

    </section>

    <!--History section end-->
    <!--Activities section start-->
    <section class="About-Activities py-3">
        <div class="container pe-sm-5">
            <div class="row">
                <div class="col-lg-6 ps-5 align-self-center order-lg-3">
                    <h1 class="display-5 py-4">Amenities and Activities</h1>
                    <br>
                    <p class="lead text-strat">
                        Whether you're seeking relaxation or adventure, Dolphin's Resort
                        caters to all preferences. Indulge in rejuvenating spa treatments, savor exquisite
                        cuisine at our oceanfront restaurant, or embark on thrilling water sports adventures.
                        The resort offers a range of recreational activities, including snorkeling, kayaking,
                        and sunset cruises, ensuring there's something for every guest to enjoy.
                    </p>
                    <br>
                </div>
                <div class="col-lg-3 pt-4 pb-2 pe-3 order-sm-1">
                    <img src="~/images/about-page/about-3.jpg" alt="Home-Food-1" class="img-fluid">
                </div>
                <div class="col-lg-3 pt-1  ps-3 align-self-center order-sm-2">
                    <img src="~/images/about-page/about-4.jpg" alt="Home-Food-2" class="img-fluid">
                </div>

            </div>
    </section>
    <!-- Activities section end-->
    <!--------------------------->
    <section>
        <div class="container py-5">
            <div class="row">
                <div class="col-md-12 pb-2">
                    <h3 class="display-5 text-center">Architectural Marvel</h3>
                    <p class=" lead text-center">
                        The resort's architecture seamlessly blends modern amenities with
                        eco-friendly design principles. The expansive glass windows not only offer panoramic views
                        of the azure ocean but also allow natural light to flood the interior spaces. The
                        accommodations are designed to evoke a sense of calmness, with each room offering a private
                        balcony or terrace for guests to enjoy the soothing sea breeze.
                    </p>
                </div>
                <div class="col-md-3 py-sm-3"><img src="~/images/about-page/about-5.jpg" alt="" class="img-fluid"></div>
                <div class="col-md-3 py-sm-3"><img src="~/images/about-page/about-6.jpg" alt="" class="img-fluid"></div>
                <div class="col-md-3 py-sm-3"><img src="~/images/about-page/about-7.jpg" alt="" class="img-fluid"></div>
                <div class="col-md-3 py-sm-3"><img src="~/images/about-page/about-8.jpg" alt="" class="img-fluid"></div>
            </div>
        </div>
    </section>
    <!--------------------------->


</main>