@{
	ViewData["Title"] = "About";
}


<main class="py-5">
	<div class="About">
		<div class="container text-center position-relative">
			<img src="~/images/about-page/about.jpg" alt="Contact" class="img-fluid rounded shadow">
			<h3 class="text-img-home display-1 text-white position-absolute top-30 start-50 translate-middle ">About Dolphin's Resort</h3>
		</div>
	</div>

	<!--About-presentation section start-->
	<section class="About-presentation pe-3 py-2">
		<div class="container pe-sm-5">
			<div class="row">
				<div class="col-lg-6 ps-5 align-self-center ps-5 ">
					<h1 class="display-5 py-4">About Us</h1>
					<h3 class="display-6">
						A Luxuries Hotel
						with Nature
					</h3>
					<br>
					<p class="lead text-strat">
						Welcome to Dolphin's Resort, where serenity meets luxury in a
						breathtaking coastal haven. Nestled along the pristine shores, Dolphin's Resort has a rich
						history of providing guests with unforgettable experiences and unparalleled hospitality.
					</p>
					<br>

				</div>
				<div class="col-lg-3 pt-5 pb-2 ps-5 ">
					<img src="~/images/about-page/about-1.jpg" alt="About-1" class="img-fluid">
				</div>
				<div class="col-lg-3 pt-1  ps-5 align-self-center ps-5 ">
					<img src="~/images/about-page/about-2.jpg" alt="Aboout-2" class="img-fluid">
				</div>

			</div>
		</div>
	</section>
	<!--About-presentation section end-->
	<!--History section start-->
	<section class="About-history">

		<div class="container py-5">
			<h3 class="display-6 text-center">Founding Years</h3>
			<p class="lead text-center">
				Dolphin's Resort was established in 1985 by visionary entrepreneur, Richard
				Waters. Inspired by
				the playful and intelligent nature of dolphins, Waters envisioned a retreat that harmonized with
				the natural beauty of the coastal landscape. His dream was to create a sanctuary where guests
				could escape the hustle and bustle of daily life and immerse themselves in tranquility.
			</p>
		</div>

	</section>

	<!--History section end-->
	<!--Activities section start-->
	<section class="About-Activities py-3">
		<div class="container pe-sm-5">
			<div class="row">
				<div class="col-lg-6 ps-5 align-self-center order-lg-3">
					<h1 class="display-5 py-4">Amenities and Activities</h1>
					<br>
					<p class="lead text-strat">
						Whether you're seeking relaxation or adventure, Dolphin's Resort
						caters to all preferences. Indulge in rejuvenating spa treatments, savor exquisite
						cuisine at our oceanfront restaurant, or embark on thrilling water sports adventures.
						The resort offers a range of recreational activities, including snorkeling, kayaking,
						and sunset cruises, ensuring there's something for every guest to enjoy.
					</p>
					<br>
				</div>
				<div class="col-lg-3 pt-4 pb-2 pe-3 order-sm-1">
					<img src="~/images/about-page/about-3.jpg" alt="Home-Food-1" class="img-fluid">
				</div>
				<div class="col-lg-3 pt-1  ps-3 align-self-center order-sm-2">
					<img src="~/images/about-page/about-4.jpg" alt="Home-Food-2" class="img-fluid">
				</div>

			</div>
	</section>
	<!-- Activities section end-->
	<!--------------------------->
	<section>
		<div class="container py-5">
			<div class="row">
				<div class="col-md-12 pb-2">
					<h3 class="display-5 text-center">Architectural Marvel</h3>
					<p class=" lead text-center">
						The resort's architecture seamlessly blends modern amenities with
						eco-friendly design principles. The expansive glass windows not only offer panoramic views
						of the azure ocean but also allow natural light to flood the interior spaces. The
						accommodations are designed to evoke a sense of calmness, with each room offering a private
						balcony or terrace for guests to enjoy the soothing sea breeze.
					</p>
				</div>
				<div class="col-md-3 py-sm-3"><img src="~/images/about-page/about-5.jpg" alt="" class="img-fluid"></div>
				<div class="col-md-3 py-sm-3"><img src="~/images/about-page/about-6.jpg" alt="" class="img-fluid"></div>
				<div class="col-md-3 py-sm-3"><img src="~/images/about-page/about-7.jpg" alt="" class="img-fluid"></div>
				<div class="col-md-3 py-sm-3"><img src="~/images/about-page/about-8.jpg" alt="" class="img-fluid"></div>
			</div>
		</div>
	</section>
	<!--------------------------->
	<!----------Facilities----------------->
	<section class="Facilities">
		<div class="container justify-content-center">
			<div class="row align-items-center">

				<div class="col-md-6">
					<img src="~/images/facilities/facilities-3.jpg" alt="Facilities" class="img-fluid">
				</div>


				<div class="col-md-6">
					<h2 class="display-5 py-4">Facilities</h2>
					<p class="lead">
						Our world-class facilities are designed to provide the utmost comfort and convenience. From a relaxing spa and refreshing pool to a fully-equipped restaurant and air-conditioned rooms, we ensure that every aspect of your stay is catered for.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="py-5">
		<div class="container">
			<div class="row g-3 d-flex justify-content-center">
				<!-- Spa Icon -->
				<div class="col-md-3 col-6 card align-items-center pt-3 m-3">
					<img src="~/images/facilities/candle-svgrepo-com.svg" width="50" height="50" alt="" class="img-fluid">
					<div class="card-body">
						<h5 class="card-title fs-4">Spa</h5>
					</div>
				</div>

				<!-- Pool Icon -->
				<div class="col-md-3 col-6 card align-items-center pt-3 m-3">
					<img src="~/images/facilities/waterpolo-svgrepo-com.svg" width="50" height="50" alt="" class="img-fluid">
					<div class="card-body">
						<h5 class="card-title fs-4">Pool</h5>
					</div>
				</div>

				<!-- Bar Icon -->
				<div class="col-md-3 col-6 card align-items-center pt-3 m-3">
					<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-cup-straw" viewBox="0 0 16 16">
						<path d="M13.902.334a.5.5 0 0 1-.28.65l-2.254.902-.4 1.927c.376.095.715.215.972.367.228.135.56.396.56.82q0 .069-.011.132l-.962 9.068a1.28 1.28 0 0 1-.524.93c-.488.34-1.494.87-3.01.87s-2.522-.53-3.01-.87a1.28 1.28 0 0 1-.524-.93L3.51 5.132A1 1 0 0 1 3.5 5c0-.424.332-.685.56-.82.262-.154.607-.276.99-.372C5.824 3.614 6.867 3.5 8 3.5c.712 0 1.389.045 1.985.127l.464-2.215a.5.5 0 0 1 .303-.356l2.5-1a.5.5 0 0 1 .65.278M9.768 4.607A14 14 0 0 0 8 4.5c-1.076 0-2.033.11-2.707.278A3.3 3.3 0 0 0 4.645 5c.146.073.362.15.648.222C5.967 5.39 6.924 5.5 8 5.5c.571 0 1.109-.03 1.588-.085zm.292 1.756C9.445 6.45 8.742 6.5 8 6.5c-1.133 0-2.176-.114-2.95-.308a6 6 0 0 1-.435-.127l.838 8.03c.013.121.06.186.102.215.357.249 1.168.69 2.438.69s2.081-.441 2.438-.69c.042-.029.09-.094.102-.215l.852-8.03a6 6 0 0 1-.435.127 9 9 0 0 1-.89.17zM4.467 4.884s.003.002.005.006zm7.066 0-.005.006zM11.354 5a3 3 0 0 0-.604-.21l-.099.445.055-.013c.286-.072.502-.149.648-.222" />
					</svg>
					<div class="card-body">
						<h5 class="card-title fs-4">Bar</h5>
					</div>
				</div>

				<!-- Air conditioning Icon -->
				<div class="col-md-3 col-6 card align-items-center pt-3 m-3">
					<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-fan" viewBox="0 0 16 16">
						<path d="M10 3c0 1.313-.304 2.508-.8 3.4a2 2 0 0 0-1.484-.38c-.28-.982-.91-2.04-1.838-2.969a8 8 0 0 0-.491-.454A6 6 0 0 1 8 2c.691 0 1.355.117 1.973.332Q10 2.661 10 3m0 5q0 .11-.012.217c1.018-.019 2.2-.353 3.331-1.006a8 8 0 0 0 .57-.361 6 6 0 0 0-2.53-3.823 9 9 0 0 1-.145.64c-.34 1.269-.944 2.346-1.656 3.079.277.343.442.78.442 1.254m-.137.728a2 2 0 0 1-1.07 1.109c.525.87 1.405 1.725 2.535 2.377q.3.174.605.317a6 6 0 0 0 2.053-4.111q-.311.11-.641.199c-1.264.339-2.493.356-3.482.11ZM8 10c-.45 0-.866-.149-1.2-.4-.494.89-.796 2.082-.796 3.391q0 .346.027.678A6 6 0 0 0 8 14c.94 0 1.83-.216 2.623-.602a8 8 0 0 1-.497-.458c-.925-.926-1.555-1.981-1.836-2.96Q8.149 10 8 10M6 8q0-.12.014-.239c-1.02.017-2.205.351-3.34 1.007a8 8 0 0 0-.568.359 6 6 0 0 0 2.525 3.839 8 8 0 0 1 .148-.653c.34-1.267.94-2.342 1.65-3.075A2 2 0 0 1 6 8m-3.347-.632c1.267-.34 2.498-.355 3.488-.107.196-.494.583-.89 1.07-1.1-.524-.874-1.406-1.733-2.541-2.388a8 8 0 0 0-.594-.312 6 6 0 0 0-2.06 4.106q.309-.11.637-.199M8 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
					</svg>
					<div class="card-body">
						<h5 class="card-title fs-4">Air conditioning</h5>
					</div>
				</div>

				<!-- Restaurant Icon -->
				<div class="col-md-3 col-6 card align-items-center pt-3 m-3">
					<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="none" class="bi bi-fan">
						<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
						<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
						<g id="SVGRepo_iconCarrier">
							<path d="M16 6.00008V4.2844C16 3.51587 16 3.13161 15.8387 2.88321C15.6976 2.66587 15.4776 2.5118 15.2252 2.45345C14.9366 2.38677 14.5755 2.51809 13.8532 2.78073L6.57982 5.4256C6.01064 5.63257 5.72605 5.73606 5.51615 5.91845C5.33073 6.07956 5.18772 6.28374 5.09968 6.51304C5 6.77264 5 7.07546 5 7.6811V12.0001M9 17.0001H15M9 13.5001H15M9 10.0001H15M8.2 21.0001H15.8C16.9201 21.0001 17.4802 21.0001 17.908 20.7821C18.2678 20.6141 18.5989 20.2811 18.6175 19.9232L18.65 19.6557" />
						</g>
					</svg>
					<div class="card-body">
						<h5 class="card-title fs-4">Restaurant</h5>
					</div>
				</div>
			</div>
		</div>
	</section>


</main>