@using DolphinsSunsetResort.Views.ViewsModel
@model List<UserWithRolesViewModel>

@{
    ViewData["Title"] = "All Accounts";
}
<div class="container mt-4">
    <h1>@ViewData["Title"]</h1>

    <!-- Filter Inputs -->
    <div class="row mb-3">
        <div class="col-md-4">
            <input type="text" id="emailFilter" class="form-control" data-url="@Url.Action("GetAllAccounts", "Roles")" placeholder="Filter by email..." />
        </div>
        <div class="col-md-4">
            <input type="text" id="phoneFilter" class="form-control" placeholder="Filter by phone number..." />
        </div>
        <div class="col-md-4">
            <select id="roleFilter" class="form-select">
                <option value="">Select Role</option>
                @foreach (var role in ViewBag.Roles)
                {
                    <option value="@role">@role</option>
                }
            </select>
        </div>
    </div>
    <!-- Filter and Reset Buttons -->
    <div class="row">
        <div class="col-md-6">
            <button id="filterButton" class="btn btn-primary">Filter</button>
        </div>
        <div class="col-md-6">
            <button id="resetButton" class="btn btn-secondary">Reset Filter</button>
        </div>
    </div>

    <div id="accountsTable">
        @await Component.InvokeAsync("UserList")
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/js/userRoles.js" asp-append-version="true"></script>
<script src="~/js/filterUserList.js" asp-append-version="true"></script>

