* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Tilt Neon', sans-serif;
}

/*-------------Navbar start----------------*/
.nav-container{
    max-height:100px;
}

.layout-login {
    padding-top: 100px;
    justify-content:center;
}
.navbar {
    background-color: #e3f2fd;
    transition: all .50s ease;
}

.navbar-nav {
    text-align: right;
}

.nav-item .nav-link {
    font-size: 18px;
    font-weight: 550;
    color: black;
}

.navbar-brand img {
    height: 10rem;
}



@media only screen and (min-width: 1400px) {
    .navbar-buttons {
        padding-left: 17rem;
    }
}

@media only screen and (min-width: 1200px)and (max-width: 1399px) {
    .navbar-buttons {
        padding-left: 12rem;
    }
}

@media only screen and (min-width: 991px)and (max-width: 1199px) {
    .navbar-buttons {
        padding-left: 7rem;
    }
}




.navbar .btn {
    position: relative;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 7px;
    border: 1px solid blue;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: blue;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    cursor: pointer;
}



/*-----------Navbar end---------------*/

/*Tab navigation Auth Start*/
.login-logout-card .card-header {
    padding: 0px 0px 12px 0px;
}

.login-logout-card ul.nav-tabs {
    margin: 0px 0px -12px 0px;
}

.login-logout-card li.nav-item {
    width: 50%;
}

.login-logout-card a.nav-link {
    font-size: 1rem;
    color: #495057;
    text-align: center;
    padding: 1rem;
}

.login-logout-card .card-body {
    padding: 10px 20px;
}
/*Tab navigation Auth End*/

/*-----------Home start---------------*/

.img-slide-show div img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

.img-slide-show {
    position: relative;
    text-align: center;
    color: white
}

.text-img-home {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.slide-show ul {
    list-style-type: none;
}


#prevButton,
#nextButton {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    transition: 0.6s ease;
    border-radius: 0 1px 1px 0;
    user-select: none;
    text-decoration: none;
}

#nextButton {
    right: 0;
}

#prevButton {
    left: 0;
}

    /* On hover, add a black background color with a little bit see-through */
    #prevButton:hover,
    #nextButton:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

/* Fading animation */
.fade-animation {
    animation-name: fade-animation;
    animation-duration: 2s;
}

@keyframes fade-animation {
    from {
        opacity: .5
    }

    to {
        opacity: 1
    }
}

.Home {
    padding-top: 150px;
    padding-bottom: 10px;
}
/*---------Home end---------------*/




/*---------Home-Rooms start---------------*/
.Home-rooms h3 {
    position: absolute;
    bottom: 10px;
    left: 16px;
    color: #F5FCFF;
}

.rooms-container {
    position: relative;
}

.img-zoom {
    overflow: hidden;
}

.rooms-container img {
    transition: all 1.5 ease-out;
}

.rooms-container:hover img {
    transform: scale(1.2);
}

.rooms-container:hover .btn-home-rooms {
    display: block;
    transition: ease-in-out 0.5;
}

.btn-home-rooms {
    position: absolute;
    bottom: 15px;
    right: 16px;
    display: none;
}
/*---------Home-Rooms end---------------*/



footer {
    background-color: #e3f2fd;
}
/*---------Contact page start---------------*/
.Contact {
    padding-top: 150px;
    padding-bottom: 10px;
}

    .Contact h3 {
        padding-top: 7rem;
        color: white;
    }
/*---------Contact page end---------------*/


/*---------About us-page start---------------*/
.About {
    padding-top: 200px;
    padding-bottom: 10px;
}

    .About h3 {
        padding-top: 15rem;
        color: white;
        text-align: center;
    }
/*---------About us-page end---------------*/


/*---------Facilities us-page start---------------*/
.Facilities {
    padding-top: 150px;
    padding-bottom: 10px;
}

    .Facilities h3 {
        padding-top: 10rem;
        color: white;
        text-align: center;
    }
/*---------Facilities us-page end---------------*/
