@using DolphinsSunsetResort.Dictionaries
@model IEnumerable<DolphinsSunsetResort.Models.News>

@{
	ViewData["Title"] = "Hotel News";
}
<body class="pt-5">
	<div class="container">
		<!-- Header Section -->
		<div class="d-flex justify-content-between align-items-center mb-4">
			<h1 class="display-4">Hotel News</h1>
			@if (User.IsInRole("Admin") || User.IsInRole("Manager"))
			{
				<a href="@Url.Action("Create", "News")" class="btn btn-primary btn-lg">
					<i class="bi bi-plus-circle"></i> Add News
				</a>
			}
		</div>

		<!-- Filters Section -->
		<div class="row g-3 mb-4">
			<!-- Start Date -->
			<div class="col-12 col-md-4">
				<label for="startDate" class="form-label">Start Date</label>
				<div class="input-group" id="startDatePicker">
					<input type="text" class="form-control" placeholder="Start Date" id="startDate" name="startDate" />
					<span class="input-group-text">
						<i class="fa-regular fa-calendar"></i>
					</span>
				</div>
			</div>

			<!-- End Date -->
			<div class="col-12 col-md-4">
				<label for="endDate" class="form-label">End Date</label>
				<div class="input-group" id="endDatePicker">
					<input type="text" class="form-control" placeholder="End Date" id="endDate" name="endDate">
					<span class="input-group-text">
						<i class="fa-regular fa-calendar"></i>
					</span>
				</div>
			</div>

			<!-- Title Filter -->
			<div class="col-12 col-md-4">
				<label for="titleFilter" class="form-label">Title</label>
				<input type="text" id="titleFilter" class="form-control" data-url="@Url.Action("Index", "News")" placeholder="Filter by Title..." />
			</div>
		</div>

		<!-- Filter and Reset Buttons -->
		<div class="row mb-4">
			<div class="col-12 d-flex justify-content-center justify-content-md-end gap-2">
				<button id="filterButton" class="btn btn-primary btn-sm">Filter</button>
				<button id="resetButton" class="btn btn-secondary btn-sm">Reset Filter</button>
			</div>
		</div>

		<div id="newsTableBody">
			@await Component.InvokeAsync("NewsListFilter", new {  page = 1 })
		</div>
	</div>
</body>



<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/js/datePicker.js" asp-append-version="true"></script>
<script src="~/js/removeRestrictionsDatePicker.js" asp-append-version="true"></script>
<script src="~/js/showPopup.js" asp-append-version="true"></script>
<script src="~/js/filterNewsList.js" asp-append-version="true"></script>