@model int
@{
	ViewBag.Title = "Checkout Complete";
}
<body class="pt-5">
	<h2>Checkout Complete</h2>
	<p>Thanks for your booking! Your booking number is: @Model</p>
	<p>
		If you want to know more
		@Html.ActionLink("about us",
		"Index", "Home")
	</p>

</body>