@model IEnumerable<Licenta1.Models.Room>


@foreach (var room in Model)
{
	<div class="col-md-6 px-2 py-2 rooms-container ">
		<div class="img-zoom">
			<img src="@($"images/home-romes/room-{room.Number}.jpg")" alt="" class="img-fluid ">
		</div>
		<h3>@room.Name</h3>
		<a class="btn btn-secondary btn-home-rooms" href="#" role="button">Book Now</a>
	</div>
}