@using Microsoft.AspNetCore.Identity
@using DolphinsSunsetResort.Areas.Identity.Data

@inject SignInManager<AplicationUser> SignInManager
@inject UserManager<AplicationUser> UserManager

<ul class="navbar-nav">
	@if (SignInManager.IsSignedIn(User))
	{
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle d-flex align-items-center text-dark" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				<span class="me-2">@await Component.InvokeAsync("LoginInfo")</span>
				<i class="bi bi-chevron-down" style="line-height: 1; font-size: 1rem"></i>
			</a>
			<ul class="dropdown-menu" aria-labelledby="userDropdown">
				<li>
					@if (User.IsInRole("Admin"))
					{
						<a class="dropdown-item" asp-controller="Roles" asp-action="GetAllAccounts">
							Manage Accounts
						</a>

					}
				</li>
				<li>
					<a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">
						Manage
					</a>
				</li>
				<li>
					<a class="dropdown-item" asp-controller="Booking" asp-action="Index">
						My bookings
					</a>
				</li>
				<li>
					<form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
						<button id="logout" type="submit" class="dropdown-item text-danger">Logout</button>
					</form>
				</li>
			</ul>
		</li>




	}
	else
	{
		<li class="nav-item pb-4">
			<a href="/Identity/Account/Login">
				<button class="btn btn-primary" type="button">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
						<path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5" />
					</svg>
				</button>
			</a>
		</li>
	}
</ul>


