@* Views/Shared/_Menu.cshtml *@
<ul class="nav flex-column">
	<li class="nav-item">
		@if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Reception"))
		{
			<a class="nav-link" asp-controller="Roles" asp-action="GetBookingsToday">
				Today's Bookings
			</a>
		}
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/Reception/AllBookings">
			All Bookings
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/Reception/AllBookings">
			Promotions
		</a>
	</li>
</ul>

