@using DolphinsSunsetResort.Dictionaries
@model IEnumerable<DolphinsSunsetResort.Models.Booking>

@{
	ViewData["Title"] = "My Bookings";
}
<div class="container mt-4">
    <h1>@ViewData["Title"]</h1>

   
    <form id="filterForm" class="container mt-5">
        <div class="row g-3 align-items-end">
            <!-- Start Date -->
            <div class="col-md-4">
                <label for="startDate" class="form-label">Start Date</label>
                <div class="input-group" id="startDatePicker">
                    <input type="text" class="form-control" placeholder="Start Date" id="startDate" name="startDate" />
                    <span class="input-group-text">
                        <i class="fa-regular fa-calendar"></i>
                    </span>
                </div>
            </div>

            <!-- End Date -->
            <div class="col-md-4">
                <label for="endDate" class="form-label">End Date</label>
                <div class="input-group" id="endDatePicker">
                    <input type="text" class="form-control" placeholder="End Date" id="endDate" name="endDate">
                    <span class="input-group-text">
                        <i class="fa-regular fa-calendar"></i>
                    </span>
                </div>
            </div>

            <!-- Status Filter -->
            <div class="col-md-3">
                <label for="statusFilter">Status</label>
                <select id="statusFilter" class="form-select">
                    <option value="">All</option>
                    @foreach (var status in ViewBag.bookingStatus as List<DolphinsSunsetResort.Dictionaries.BookingStatus>)
                    {
                        <option value="@status">@status</option>
                    }
                </select>
            </div>

        
            <div class="col-md-12 pb-3">
                <div class="d-flex justify-content-end gap-2">
                    <button type="submit" class="btn btn-primary">Filter</button>
                    <button type="button" id="resetFilters" class="btn btn-outline-secondary resetFilters">Reset</button>
                </div>
            </div>
        </div>
    </form>

    <div id="bookingList">
        @await Component.InvokeAsync("BookingFilter")
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
	var filterUrl = '@Url.Action("Index", "Booking")';
</script>
<script src="~/js/cancelBooking.js" asp-append-version="true"></script>
<script src="~/js/datePicker.js" asp-append-version="true"></script>
<script src="~/js/removeRestrictionsDatePicker.js" asp-append-version="true"></script>
<script src="~/js/showPopup.js" asp-append-version="true"></script>
<script src="~/js/bookingFilter.js" asp-append-version="true"></script>





